@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.area {
    background: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -2222;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 5px;
    height: 5px;
    top: 0%;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 5s linear infinite;
    bottom: -150px;
}

.circles li::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

.circles li:nth-child(1) {
    left: 100%;
    top: 5%;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    animation-delay: 2s;
    animation-duration: 2s;
}

.circles li:nth-child(3) {
    left: 70%;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s;
}


/* @keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
} */

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 10px;
}